name: Golang Docker Build

on:
  # LET THE PIPELINE TRIGGER ON A PUSH TO ALL BRANCHES
  push:
    branches:
      - "*"
  release:
    types: [published]
env:
  CONTAINER_REPOSITORY: quay.io/${{secrets.JOE_USERNAME_SECRET}} # PUT YOUR OWN USERNAME HERE
  CONTAINER_IMAGE: alm-workshop-extern-01-12-25 # fixed this to the repo name
  GOLANG_VERSION: 1.23

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Quay.io login
      - name: Login to Quay.io
        uses: docker/login-action@v3
        with:
          registry: quay.io
          username: ${{secrets.JOE_ROBOT_USERNAME}}
          password: ${{secrets.JOE_ROBOT}}

      - name: Extract metadata (tags, labels) for Docker
        uses: docker/metadata-action@v4
        id: meta
        with:
          images: quay.io/${{secrets.JOE_USERNAME_SECRET}}/alm-workshop-extern-01-12-25

      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          file: Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
